.\py_script\emf\
.\py_script\pptxfiles\
.\py_script\config\fontMap.txt
.\py_script\config\fontTables.txt
.\py_script\config\result.txt
.\py_script\dll\emfFileName.txt
.\py_script\dll\emfFontName.txt
.\Dllemf\Dllemf\Debug\
.\Dllemf\Dllemf\x64\
.\Dllemf\Dllemf.opensdf